name: Publish

permissions:
  contents: write
  deployments: write
  issues: read
  pull-requests: write

on:
  push:
    branches:
      - 'main'

jobs:
  test:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm test
        env:
          CLOUDFLARE_API_KEY: ${{ secrets.CLOUDFLARE_API_KEY }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_NAMESPACE_IDENTIFIER:
            ${{ secrets.CLOUDFLARE_NAMESPACE_IDENTIFIER }}
      - run: npx semantic-release
